/* Palheta de cores
Preto: #161716
Cinza Escuro: #1a1b1a
Amarelo: #f6a700
Amarelo Claro: #fed353
Amarelo Mostarda: b87400
Branco: #e8f1f9 */

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", serif;
  scroll-behavior: smooth;
}

header{
  position: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;
  background-image: url(https://capsule-render.vercel.app/api?type=waving&color=353535&height=120&section=header);
}

body {
  background-color: #161716;
}

#backtotop{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #f6a700;
  text-decoration: none;
  border-radius: 100%;
}

#backtotop img{
  height: 50px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

#logo{
  display: flex;
}

#logo a{
  list-style: none;
  text-decoration: none;
  color: #e8f1f9;
  font-weight: bold;
  font-size: 25px;
}

#logo img{
  height: 35px;
}

#logo a:hover{
  transition: 0.1s;
  color:#f6a700;
}

#logo a span{
  list-style: none;
  color: #f6a700;
}

#menu {
  width: 30%;
}

#menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#menu ul li a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #e8f1f9;
}

#menu ul li a:hover{
  transition: 0.1s;
  color:#f6a700;
}

#informations {
  padding-top: 50px;
  background-color: #161716;
  height: auto;
  align-content: center;
}

#informations-container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 80%;
  height: 500px;
  padding: 5px;
  border-radius: 7px;
  background-color: #161716;
}

#informations-text {
  align-content: center;
  justify-items: center;
  width: 52%;
  background-color: #1a1b1a;
  border-radius: 7px;
}

#informations-text h1{
  color:#f6a700;
  font-size: 30px;
}

#informations-text h3{
  color:#fed353;
  font-size: 23px;
  margin-bottom: 10px;
}

#informations-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

#informations-img img{
  max-height: 100%;
  border-radius: 7px;
}

#stack-icons img {
  margin: 8px;
  height: 40px;
}

#contact{
  font-size: 35px;
  margin-top: 120px;
}

#contact a{
  text-decoration: none;
  color: #f6a700;
}

#contact i{
  padding: 0 5px;
}

#projects-container {
  background-color: #161716;
  padding: 50px 0;
}

#project {
  background-color:#1a1b1a;
  height: auto;
  max-width: 80%;
  margin: 0px auto;
  border-radius: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 30px;
}

#project .projects-items{
  background-color: #161716;
  height: 500px;
  width: 320px;
  margin-bottom: 30px;
  justify-items: center;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 7px;
}

#project .projects-items img{
  height: 280px;
}

#project .projects-items h3 {
  padding-top: 10px;
  padding-bottom: 15px;
}

#project .projects-items h3 a{
  text-decoration: none;
  color: #fed353;
}

#project .projects-items a:hover{
  transition: 0.1s;
  color: #f6a700;
}

#project .projects-items p{
  color: #e8f1f9;
}

#exp {
  height: auto;
  max-width: 80%;
  background-color: #1a1b1a;
  margin: 50px auto;
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

#draw{
  width: 50%;
}

#draw img{
  height: 350px;
}

#professional-experience{
  height: 355px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#professional-experience .job{
  background-color: #161716;
  height: 160px;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  padding:25px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

#professional-experience h1{
  color: #f6a700;
}

#professional-experience h3{
  color: #fed353;
}

#professional-experience p{
  color: #e8f1f9;
}

#job-desc{
  width: 80%;
}

#job-logo{
  width: 10%;
}

#contact-section{
  height: auto;
  max-width: 80%;
  background-color: #1a1b1a;
  margin: 100px auto 50px auto;
  border-radius: 7px;
  padding: 2rem;
  box-sizing: border-box;
}

#contact-me-text h1{
  color:#f6a700;
  margin-bottom: 15px;
  font-size: 30px;
}

#contact-me-text h3{
  color:#fed353;
  width: 50%;
}

#contact-img-btn{
  display: flex;
}

#contact-me-buttons{
  width: 60%;
  align-content: center;
}

.icons-contact-section{
  display: flex;
  width: 400px;
  height: 75px;
  background-color: #161716;
  border-radius: 7px;
  margin: 25px auto;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.icons-contact-section:hover{
  transition: 0.4s;
  background-color: #111111;
}

.icons-contact-section span{
  margin-right: 5px;
}

#contact-me-buttons a{
  text-decoration: none;
  color: #f6a700;
}

#contact-me-buttons h1{
  color: #f6a700;
}

#contact-me-buttons i{
  font-size: 35px;
  margin: 0 10px 0 40px;
}

#contact-image img{
  width: 450px;
}

#about{
  display: flex;
  height: auto;
  width: 80%;
  margin: 100px auto;
  background-color: #1a1b1a;
  border-radius: 7px;
  padding: 2rem;
  box-sizing: border-box;
}

#about-img img{
  height: 450px;
}

#about-text{
  width: 50%;
  justify-items: center;
  align-content: center;
  
}

#about h1{
  font-size: 40px;
  color: #f6a700;
  margin-bottom: 1rem;
}

.about-text-items{
  display: flex;
  margin: 1rem;
  align-items: center;
  width: 80%;
  height: 70px;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #161716;
  border-radius: 7px;
}

.about-text-items img{
  height: 45px;
}

.about-text-items i{
  font-size: 35px;
  padding: 3px 1px 3px 3px;
  color: #f6a700;
}

.about-text-items .smaller-icons{
  font-size: 30px;
  padding: 3px 0 3px 3px;
}

.about-text-items h3{
  color: #fed353;
  font-size: 23px;
  margin-left: 15px;
}

#about-text h2{
  color: #fed353;
}



footer{
  height: 120px;
  background-image: url(https://capsule-render.vercel.app/api?type=waving&color=353535&height=120&section=footer);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  color: #e8f1f9;
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#logo-footer{
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

#logo-footer #pFooter{
  margin-left: 5rem;
}

#logo-footer a{
  text-decoration: none;
  color: #e8f1f9;
  font-weight: bold;
  font-size: 15px;
}

#logo-footer img{
  height: 20px;
}

#logo-footer a:hover{
  transition: 0.1s;
  color:#f6a700;
}

#logo-footer a span{
  list-style: none;
  color: #f6a700;
}


